/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #f0f0e8;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(0, 0, 0, 0.7);
}

@media (hover: hover) and (pointer: fine) {
  .email-cta:hover {
    letter-spacing: 0.1rem;
    color: #f7ae03;
  }
  footer a:hover {
    transform: translateY(-5px);
  }
  .button:hover {
    background-color: #f0f0e8;
    color: #f1be46;
  }
}
.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.title {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: "pacifico";
}

.email-cta {
  display: none;
  color: #f1be46;
  transition: all 0.5s ease;
}

@media (min-width: 50em) {
  .email-cta {
    display: block;
  }
  .email-cta-icon {
    display: none;
  }
}
.hero-img-container {
  display: flex;
  justify-content: center;
}

.hero-img {
  max-width: 300px;
}

.primary-heading {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 3.5rem;
}
@media (min-width: 50em) {
  .primary-heading {
    line-height: 6rem;
  }
}

.even-columns {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media (min-width: 50em) {
  .even-columns {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .even-columns div {
    flex-basis: 0;
  }
  .even-columns .hero-img-container {
    flex-grow: 1;
    flex-basis: 0;
  }
  .even-columns .hero-img {
    max-width: 100%;
  }
  .hero-img-container {
    order: 2;
  }
  .hero-text {
    flex-grow: 1.6;
  }
  .primary-text {
    max-width: 600px;
  }
}
.primary-heading {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  color: rgb(68, 68, 68);
}
.primary-heading span {
  color: #f1be46;
}
@media (min-width: 50em) {
  .primary-heading {
    font-size: 6rem;
  }
}

.primary-text {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.primary-text span {
  font-weight: bold;
  color: #f1be46;
}

.secondary-text {
  font-size: 1.9rem;
}

.button {
  background-color: #f1be46;
  border: 1px solid #f1be46;
  padding: 1rem 1.8rem;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

footer {
  padding: 3rem 0;
  font-size: 1.2rem;
  text-align: center;
}
footer p {
  opacity: 0.3;
}
footer a {
  transition: all 0.5s ease;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.social-links a {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */